<div>
    <form id="cookieForm" action="/session/login" method="POST">
        <label for="email">Email</label>
        <input name="email" type="text">
        <br>
        <label for="password">password</label>
        <input name='password' type="text">
        <input type="submit">
    </form>
    <a href="/session/github">Entrar por Github</a>
</div>

{{!-- <script src="/static/js/index.js"></script> --}}